<%comments.each do|comment|%>
  <div class='thumbnail'>
    <table style='margin:20px;'>
      <tbody>
        <tr>
          <td class='col-xs-8'>
            <%if comment.commentable.class.name == 'Comment'%>
              <a href='#'>@<%= comment.commentable.name%></a>
            <%end%>
            <%=comment.comment%>
          </td>
          <td class='col-xs-4'>
            <%=time_ago_in_words(@blog.created_at)%>
          </td>
        </tr>
      </tbody>
    </table>
    <div class='comment collapse'>
      <%= render 'comments/form',commentable:comment, newcomment:@newcomment%>
    </div>
  </div>
    <ul>
      <a class="toggleNewComment">+ Reply</a>
      <%if comment.comments.length != 0%>
        <a class="toggleComment">+ Expand</a>
        <div class='comment collapse'>
          <%= render 'comments/comments', blog:@blog, comments:comment.comments, newcomment: @newcomment%>
        </div>
      <%end%>
    </ul>
<%end%>
