<%=form_for newcomment do |f| %>
  <% if newcomment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(newcomment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% newcomment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form class='form-horizontal'>
    <fieldset>
      <div class="actions">
        <%= f.text_field :commentable_id, value: commentable.id ,type:'hidden'%>
        <%= f.text_field :commentable_type, value: commentable.class.name ,type:'hidden' %>
        <div class="form-group col-sm-8">
          <%= f.text_field :comment, placeholder:"Reply", class: 'form-control input-sm'%>
        </div>
        <div class="form-group col-sm-3">
          <%= f.text_field :name ,placeholder:'Name', class: 'form-control input-sm'%>
        </div>
        <div class="form-group col-sm-1">
          <%= f.submit '+', class:'btn btn-sm btn-primary' %>
        </div>
      </div>
    </fieldset>
  </form>
<% end %>
