<div class='avoid-navbar container project-page'>
  <a href='http://never-eat-chicken-alone.herokuapp.com/'>
    <div class='col-sm-6'>
      <h1>NEVER EAT CHICKEN ALONE</h1>
    </div>
  </a>

  <div class='col-sm-6 col-xs-12'>
    <%= image_tag "ruby-logo.png", class:"col-xs-2 language-logo-mid img-responsive"%>
    <%= image_tag "postgresql-logo.png", class:"col-xs-2 language-logo-mid img-responsive"%>
    <%= image_tag "jquery-logo.gif", class:"col-xs-2 language-logo-mid img-responsive"%>
    <%= image_tag "html5-logo.png", class:"col-xs-2 language-logo-mid img-responsive"%>
    <%= image_tag "css3-logo.png", class:"col-xs-2 language-logo-mid img-responsive"%>
    <%= image_tag "bootstrap-logo.png", class:"col-xs-2 language-logo-mid img-responsive"%>
  </div>
  <div class='col-xs-12'>
    <div>
      <a href="https://github.com/brianlaw033/restaurant_meetup_group_project"><i class="fa fa-github"></i> GitHub Link</a>
      <p>
        A social search app that help users to find a partner to eat with. We believe that no individual should dine alone again.
      </p>
    </div>
    <div class='col-sm-8'>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/raN4rq-K1Xo" frameborder="0" allowfullscreen></iframe>
    </div>

  </div>

</div>
